@tailwind base;
@tailwind components;
@tailwind utilities;



h1{
  font-size: x-large;
  font-weight: 800;
}
h2{
  font-size: large;
  font-weight: 800;
}
h3{
  font-size: medium;
  font-weight: 600;
}
h4{
  font-size: small;
  font-weight: 600;
}
h5{
  font-size: smaller;
  font-weight: 400;
}
a{
  cursor: pointer;
}
ol{
  list-style-type: decimal;
  padding-left: 1.5rem;
  padding-right: 1.5rem; 
  font-size: small;
}

/* .featuredRecipeBg{
  background-attachment: local;
  justify-content: center;
  height: 20 rem;
  max-height: 60%;
  margin-top: 0.5rem;
  padding:1.5rem;
  background-image: url('./media/GenericImages/FeaturedRecipeBackground.png'); 
  background-position:center; 
  background-size:cover;
  backdrop-filter: blur(2px);
  z-index: 0;
}
@media (min-width: 768px) {
  .featuredRecipeBg{
    background-attachment: local;
    justify-content: center;
    height: 24rem;
    max-height: 25%;
    margin-top: 0.5rem;
    padding:1.5rem;
    background-image: url(./media/GenericImages/FeaturedRecipeBackground.png'); 
    background-position:center; 
    background-size:cover;
    backdrop-filter: blur(2px);
    z-index: 0;
  }
} */

.featuredRecipeCard{
  object-fit: cover;
  max-height: 18rem;
  max-width: 100%;
}


/*Desktop Recipe Category Cards*/
.desktopCategoryCard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  width: 12rem;
  height: 13rem;
  max-width: 12rem;
  max-height: 13rem;
}

/*Mobile Recipe Category Cards*/
.mobileCategoryCard img{
  object-fit: cover;
  width: 100%;
  height: 11rem;
}
.mobileCategoryCard h3{
  text-align: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.roundButton{
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 9999px;
  text-align: center;
  width: 8rem;
}

.dropdownButton{
  position:relative;
}

/*The dropdownMenu is hidden by default*/
.dropdownButton .dropdownMenu{
  display: hidden;
  position: absolute;
  top: 1.5rem;
  left: 0px;
  min-width: 9rem;
  padding-top: 0.5rem;
  background-color: white;
  border-radius: 0.125rem;
  z-index: 9;
}

.dropdownMenu li{
  display:none;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*Show the dropdown menu on hover*/
.dropdownButton:hover .dropdownMenu{
  display:block;
}

.dropdownButton:hover .dropdownMenu li{
  display:block;
}

.dropdownMenu li:hover{
  background-color: orange;
}

.mobileVideoContainer{
  /* padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;  */
  width: 100%;
}
.mobileVideo{
  width: 100%;
  /* max-width: 35rem; */
  height: calc(100vw*0.56);
  /*padding-bottom: 56.25%;*/
}

@media (min-width: 768px) {
  .mobileVideo{
    width: 35rem;
    height: 20rem;
  }
}

 .servingSize{
   padding-left: 1rem;
   padding-right: 1rem;
   padding-bottom: 0.5rem;
 }

#serving{
  width: 2rem;
  border-radius: 20%;
  text-align: center;
  font-size: medium;
}

#updateButton{
  font-size: small;
  font-weight: bold;
  text-align: center;
  border-radius: 9999px;
  width: 4rem;
  background-color: slategray;
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
.ingredientListItem{
  padding-left: 1rem;
  font-size: small;
}