@tailwind base;
@tailwind components;
@tailwind utilities;



h1{
  font-size: x-large;
  font-weight: 800;
}
h2{
  font-size: large;
  font-weight: 800;
}
h3{
  font-size: medium;
  font-weight: 600;
}
h4{
  font-size: small;
  font-weight: 600;
}
h5{
  font-size: x-small;
  font-family: 400;
}

